<div class="alert alert-block alert-danger text-center"><b>ESTUDIO PRELIMINAR</b></div>

In [3]:
elementos = ["Hola", 4, "Adiós",[1,2,3]]
for e in elementos:
    print(e)

Hola
4
Adiós
[1, 2, 3]

In [4]:
for i,e in enumerate(elementos):
    print(i, e)

0 Hola
1 4
2 Adiós
3 [1, 2, 3]

In [5]:
a, b , c = 1, 2, 3
print(a,b,c)

1 2 3

In [7]:
(num1, num2, num3) = (1, 2, 3)
print(num1, num2, num3)

1 2 3

In [8]:
[num1, num2, num3] = [1, 2, 3]
print(num1, num2, num3)

1 2 3

In [9]:
def function():
    return 10, 50, 100

In [11]:
print(function())

(10, 50, 100)

In [13]:
list(enumerate(elementos))

[(0, 'Hola'), (1, 4), (2, 'Adiós'), (3, [1, 2, 3])]

<div class="alert alert-block alert-success text-center"><b>FUNCIÓN ENUMERATE</b></div>

In [4]:
for tupla in enumerate(elementos):
    print(tupla)

(0, 'Hola')
(1, 4)
(2, 'Adiós')
(3, [1, 2, 3])

In [15]:
for indice,valor in enumerate(elementos):
    print(indice,valor)

0 Hola
1 4
2 Adiós
3 [1, 2, 3]

## Ejercicio utilizando enumerate

En este ejercicio se te va a facilitar una variable iniciales que contiene una lista con un número indeterminado de cadenas de texto. 
Tu objetivo es modificar las cadenas de esa lista por la letra inicial de cada cadena en la lista utilizando, si lo requieres, la función enumerate.
Supongamos que iniciales tiene el siguiente valor ["Hola", "Mundo"], tu objetivo sería transformar esos valores a ["H", "M"].

In [18]:
iniciales = ["Ana","Maria","A"]

forma 1:

In [21]:
for indice,cadena in enumerate(iniciales):
    iniciales[indice] = iniciales[indice][0]

forma 2:

In [19]:
for indice,cadena in enumerate(iniciales):
    iniciales[indice] = cadena[0]

Resultado:

In [22]:
print(iniciales)

['A', 'M', 'A']

#### Ejercicio 2

Iteraciones y conversiones

1. Pide al usuario que introduzca un número entero por teclado entre 1 y 9 (ambos incluidos) y guárdalo en la variable numero. Debes asegurarte de que esa variable numero contiene un numero entero del 1 al 9, utiliza un bucle para repetir la lectura hasta que se cumpla esa condición.

2. Genera una lista llamada multiplos que contenga los múltiplos de numero en el rango de 1 a 100 (ambos incluidos) utilizando la conversión de un range a list con un paso: list(range(Min,Max,Paso)).

In [50]:
numero = int(input("Ingrese un número entero entre 1 y 9: "))
##Checking número ingresado
while numero<1 or numero>9:
    numero = int(input("Ingrese un número entero entre 1 y 9: "))

##Generación de la lista
multiplos = list(range(numero,101,numero))
print(multiplos)

Ingrese un número entero entre 1 y 9: 1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]